﻿@model IEnumerable<OdeToFood.Data.Models.Restaurant>

@{
    ViewBag.Title = "Restaurants";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@foreach (var item in Model)
{
    @Html.Partial("_RestaurantSummary", item)
}